@import 'tailwindcss';

@theme {
  --color-primary: var(--color-purple-600);
  --color-primary-light: var(--color-purple-50);
  --color-primary-glow: var(--color-purple-500);
  --shadow-primary-glow: 0 2px 4px var(--color-purple-100);
}
